@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono:wght@500&display=swap');

@keyframes appear {
    from { opacity: 0; transform: translateY(.25rem); }
    to { opacity: 1; transform: translateY(0); }
}

:root {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Roboto Mono', monospace;

    --light-gray: #DDDDDD;
    --dark-gray: #222222;
    --color-purple: #832161;
    --color-red: #DB4C40;
    --color-orange: #FF9900;
    --color-blue: #048BA8;
    --color-green: #44AF69;

    color: var(--dark-gray);
}

.HeaderMedium {
    font-size: 2rem;
    margin-bottom: 2rem;
}

button {
    all: unset;
    display: inline-block;
    padding: .5rem;

    color: white;

    background-color: var(--color-purple);

    border-radius: .25rem;

    user-select: none;
    cursor: pointer;
}

button:focus {
    outline: 1px dashed var(--dark-gray);
    outline-offset: .25rem;
}

.Ellipsis::after {
    animation: ellipsisAnimation 2s linear infinite;
    content: '';
}

@keyframes ellipsisAnimation {
    25% { content: "."; }
    50% { content: ".."; }
    75% { content: "..."; }
}